[2017-10-12 19:44] ahankinson opened #2 "Guidelines text is cramped"
There's a lot of white space in the guidelines docs. I propose changing it to fill more of the screen.

Also, the striped 'table' of attributes changes background on hover, which is strange.

I can fix this if that's ok?

[2017-10-12 20:13] kepper commented on #2
I only started work on the elements, but none of the other objects. I agree on the table, just haven't had the time to change it yet. I'm happy with you stepping in (why shouldn't I?), otherwise I'll get back into it next week…

[2017-10-31 15:16] lpugin opened #3 "specDesc template not requiring version"
We should change the specDesc template calls from
[code]
to just
[code]

[2017-10-31 15:18] lpugin opened #4 "plainExample template not requiring version"
We should change plainExample template calls from
[code]
to
[code]

[2017-11-08 07:53] lpugin opened #5 "Have the stylesheet ouput to "dev" version"

[2017-11-08 07:55] lpugin opened #6 "Removing remaining html in the xsl output"

[2017-11-08 07:57] lpugin opened #7 "Adding some link templates"
We can see if we want to have specific templates for links with CSS to make them simpler to edit

[2017-11-08 10:04] lpugin opened #8 "Adding a drop-down switch in the header for choosing a version"

[2017-11-08 21:44] kepper commented on #6
@lpugin, what HTML is still remaining? `<img>` has been dealt with, already, and I'm not aware of other html-related problems (incorrectly closing tags) right now

[2017-11-10 07:23] lpugin commented on #6
There are some links remaining - see line 25 in https://github.com/music-encoding/guidelines/blob/master/_guidelines-v3/21-text/01-textDivisions.md

[2017-11-13 00:32] th-we opened #9 "Old vs. new guideline system"
I'm certain there are good reasons for maintaining the guidelines as Markdown for Github pages instead of TEI, but those reasons are not apparent to me at the moment and I must confess, I just got frustrated with understanding what's going on while trying to create an admittedly quick pull request on a really late Sunday evening.  At the same time I feel really bad about this because I got upset w

[2017-11-13 07:30] lpugin commented on #9
What you wrote here is by far more than all the contributions we received to the guidelines over the last two years ;-)

In short, because I will also be occupied with other stuff today: there is an open issue  (#7)
 simplified templates. That is, replace

[code]
with something like
[code]
---
And replace
[code]
with
[code]
---
Or
[code]
with
[code]

[2017-11-13 08:10] th-we commented on #9
Good morning from the anticipated less cranky version of myself. Thanks Laurent, good to hear the first point is being addressed. Does this also mean any pull requests should wait or be made against the old TEI guidelines because they'll be converted again anyway?

[2017-11-13 08:32] lpugin commented on #9
Please wait for making PR because the content will indeed be overwritten as the migration is still in progress

[2017-11-13 08:33] lpugin commented on #3
Actually for elements to
[code]
and for attributes to
[code]

[2017-11-13 08:33] lpugin commented on #3
Once this is done we can remove the `_include/specDesc.html` template

[2017-11-13 08:45] lpugin commented on #7
@kepper  change links to elements to
[code]

[2017-11-13 11:20] ahankinson commented on #9
Hi Thomas,

There were several factors that led to the decision to move away from TEI for the Guidelines.

1. The stylesheet for publishing the HTML and PDFs was being hand-maintained by Johannes, and needed extensive "hand-tweaking" after running it to make the content presentable. It also meant that publishing updates to the guidelines was a long and drawn-out process.

2. The Wordpress site tha

[2017-11-13 11:47] th-we commented on #9
I appreciate and admire your patience with my impatience, Andrew! Of course that all make a lot of sense and I expect we'll end up in a state where the markdown becomes readable and contributable.

What work suggestions do you have?  Are they covered by existing issues or is it something else? I don't know a thing about Github pages, but I can learn. Or maybe I can win over someone who wants to le

[2017-11-13 12:32] lpugin commented on #7
@kepper change links to sections with
[code]
The link-section template will look for the section name to be used for the link text and produce
[code]
respectively.

As it is now no section number is added to the link text but this can be added later on if necessary

[2017-11-13 12:34] lpugin commented on #4
@kepper change them to a more compact call
[code]

[2017-11-13 12:48] lpugin opened #10 "Adding include template for images"
Currently generated as
[code]
One question to address is figure numbering. Do we want to keep it?

[2017-11-13 21:35] kepper commented on #10
as PDF is not our main output (anymore), I'm happy to drop image numbering. The images directory should be cleaned up, yes. But I also agree that this can happen at a later point… 

[2017-11-13 21:40] kepper commented on #6
the problem seems to be solved already, probably closed by a6b5046e4089c01829417dfec28015325626b5df

[2017-11-13 21:40] #6 closed

[2017-11-14 07:38] lpugin commented on #10
So if we want to postpone it then we need to have an distinct image set for each version. I'll take care of this. It does actually not matter for the template, which will be
[code]
OK?

[2017-11-15 08:35] lpugin commented on #10
We need to remove in the XSLT the "/Images" we have in the path in order to have distinct version of the images for each version. So the result should be as above and not `img="Images/modules/cmn/grace-300.png" `

[2017-11-15 09:29] lpugin opened #11 "Issue with camel-cased links in the latest version"
In the dev (v4) version some links are broken because of camel-cased names. They should be lower-cased.

See :
https://music-encoding.github.io/guidelines/v4/attribute-classes.html
pointing to:
https://music-encoding.github.io/guidelines/v4/attribute-classes/att.beamedWith.html
instead of:
https://music-encoding.github.io/guidelines/v4/attribute-classes/att.beamedwith.html

[2018-01-19 09:50] kepper opened #12 "backlinks from elements to guidelines"
In C'ville, we discussed the potential addition of links from the elementSpecs to all chapters in which the current element is mentioned. However, this is possible only as long as we still have the guidelines in XML, and will go away soon. After that, we need to come up with a mechanism in Travis that identifies these references in the guideline markdown files and inserts that automatically in the

[2018-01-19 14:55] lpugin commented on #12
The search is here:
https://music-encoding.github.io/guidelines/search.html

A few search examples:
https://music-encoding.github.io/guidelines/search.html?q=syl
https://music-encoding.github.io/guidelines/search.html?q=rdg
https://music-encoding.github.io/guidelines/search.html?q=scoreDef
https://music-encoding.github.io/guidelines/search.html?q=edition

Of course it does not replace the backlink

[2018-01-19 15:06] pe-ro commented on #12
This is much better than backlinks, esp. since it cuts down on future maintenance. :grinning:

Is this using an index of some kind or is a brute force search of the full text?  If the former, how/when is the indexing performed?

[2018-01-19 15:38] pe-ro commented on #12
I consider this issue settled, so I'd like to direct attention to https://github.com/music-encoding/music-encoding/issues/454, which I think is much more pressing because it's creating incorrect data.

For example, the description of `<relatedItem>` says that it may occur within

`<perfDuration>`,
`<bibl>`, 
`<biblScope>`, 
`<creation>`, 
`<extent>`, 
`<genre>`, 
`<imprint>`, 
`<physLoc>`, 
`<reci

[2018-01-19 16:04] kepper commented on #12
I was trying to get rid of those other issues first, and will turn to these structural things now…

[2018-01-19 16:40] pe-ro commented on #12
Muchas gracias.

[2018-01-19 16:40] #12 closed

[2018-03-07 13:30] bwbohl opened #13 "branching model"
Dear all,

I just was about to start working on some guidelines issues and stumbled over the current branch situation. Apparently "master" is where the development happens and the other branches "develop", "feature-travis" and "feature-gemfile" are somewhat stale and behind at least by 85 commits.
Nevertheless the naming scheme of the branches as the presence of both "master" and "develop" suggest

[2018-03-07 13:35] ahankinson commented on #13
We could set the master branch to be 'protected' to enforce this, if it's something we can agree on.

[2018-03-07 14:07] bwbohl commented on #13
That sounds reasonable to me and is what I  meant.
Basically that would also require a gitflow-ish use of branches as one could not directly modify it.

[2018-03-07 14:24] lpugin commented on #13
Thanks for willing to contribute, but at this stage the conversion from the MEI/TEI guidelines is not finished. So a first highly desirable contribution would be to fix the remaining issues listed for this repository...

[2018-03-07 21:11] bwbohl commented on #3
If I see this correctly this has already been implemented?

[2018-03-07 21:28] lpugin commented on #3
Yes. What needs to be changed is the XSLT that produces the markdown. @kepper, can you help @bwbohl to change this?

[2018-03-07 21:32] bwbohl commented on #3
already spotted the line in the XSLT

[2018-03-07 21:51] bwbohl commented on #3
it says
https://github.com/music-encoding/guidelines/blob/ae76672e19ba7057e07d02cf002d340289d5ead2/tools/extractGuidelines.xsl#L1025

and
https://github.com/music-encoding/guidelines/blob/ae76672e19ba7057e07d02cf002d340289d5ead2/tools/extractGuidelines.xsl#L1059

output for e.g.

[code]

if the corresponding tie-element with `@ident` equal to `specDesc/@key` can be retrieved would consequently be

[2018-03-07 23:56] bwbohl commented on #4
resolving the new more compact call seems to be working already. Will create a PR from my fork.

[2018-03-08 00:45] bwbohl commented on #7
what about the link_ptr change @lpugin proposed in #9 should I implement it?

[2018-03-08 06:56] lpugin commented on #5
The general plan is to have the XSLT generating pieces of the documentation (element descriptions, attribute description, etc) on each commit. (The narrative will be in markdown.) This needs to go to a "dev" version of the guidelines, and not "v3", or "v4". Once we make a release, then "dev" is replaced by hand to "vX", and "dev"  continues to be updated for the next version. No idea where this is

[2018-03-08 06:58] lpugin commented on #7
Isn't this? I already added the `link` template. (I probably thought that `link` was compacter than `link_ptr`.)

[2018-03-08 08:46] #4 closed

[2018-03-08 23:51] bwbohl commented on #3
so you can consider this ticket closed

[2018-03-09 23:42] bwbohl commented on #11
seems to me the links provided above are correct now

[2018-03-12 12:07] #3 closed

[2018-03-12 12:10] lpugin commented on #11
OK, thanks. I am waiting to see once the XSLT is applied again, but I need some input from @ahankinson or @kepper for this. How can we trigger the XSLT?

[2018-03-12 12:31] ahankinson commented on #11
I was able to run it with saxon on the command line.

[code]

Does that work?

[2018-03-12 13:35] lpugin commented on #11
It does generates the guidelines. However, everything goes in a subdirectory ./tools/v3 and not at its right place. I copy them by hand but we should change this.
* ./tools/v3/desc should go into ./_includes/v3/desc
* ./tools/v3/examples should go into ./_includes/v3/examples
* ./tools/v3/guidelines should go into ./_guidelines-v3/
* all the rest to ./v3

There is one problem with ./tools/v3/guide

[2018-03-12 13:53] lpugin commented on #11
The link issue is not quite solved. See in
http://music-encoding.org/guidelines/v3/model-classes
The link points to
http://music-encoding.org/guidelines/v3/model-classes/model.chordpart.html
But the file is still
http://music-encoding.org/guidelines/v3/model-classes/model.chordpart.html
So the problem seems to be the opposite as the issue described in the first place. I would suggest to have all f

[2018-03-13 15:06] lpugin commented on #11
OK, this is now be fixed. (I had to remove the entire directory and put it back in order to have the pages updated.)

[2018-03-13 15:06] #11 closed

[2018-03-13 16:22] bwbohl opened #17 "ordered lists"
at the moment ordered list do not get an index number output before each list item

assign @bwbohl

[2018-03-13 16:23] bwbohl opened #18 "tables in markdown"
the current files have a html table in the markdown files is this a workaround that should be fixed to output something else (more markdownish) or do we stick to it?

[2018-03-13 16:24] bwbohl commented on #7
link is there

[2018-03-13 17:39] lpugin commented on #5
I already started to work on this one. I'll let you know if I fail - which is quite likely ;-)

[2018-03-13 17:47] lpugin commented on #5
What would be helpful is if you could put a `canonicalized4.0.0.xml` in the ./tools directory

[2018-03-13 18:01] lpugin commented on #5
@bwbohl : could you point me to what in the XSLT is generating this file https://github.com/music-encoding/guidelines/blob/master/_guidelines-v3/01-shared.md ? I cannot find it...

[2018-03-13 19:25] lpugin commented on #5
I pushed some changes where the output directory are nearly fixed. The problem remains with the chapter files (comment above) which are still generated in `./dev/guidelines/` of ./_guidelines-dev/`.  It means that the files needs to be moved by hand for now. (Once we drop the TEI guidelines we can also remove all this from the XSLT so it is not absolutely necessary to fix it.)

[2018-03-13 22:19] bwbohl commented on #17
have it foxed in my local version as part a a bigger markdown improvement that also could include #18 if wanted.

[2018-03-13 22:20] bwbohl commented on #18
from my perspective we should get rid of all non markdown stuff, right? The idea is to simplify things that also means to stick to but one encoding scheme and not mixing them.

[2018-03-14 07:49] lpugin commented on #18
Yes, absolutely! Anything you can improve there is welcome

[2018-03-14 07:49] lpugin commented on #17
Great! Can you make a PR?

[2018-03-14 07:51] lpugin commented on #5
I am closing it for now. What will be necessary is a good cleanup of the XSLT once we have removed the guidelines narrative in TEI

[2018-03-14 07:51] #5 closed

[2018-03-14 07:52] lpugin commented on #11
All links should be good except from the ones in the remarks. See http://music-encoding.org/guidelines/dev/elements/userestrict.html. Not sure how to fix them in the XSLT.

[2018-03-14 09:44] lpugin commented on #10
I fixed this one. I made a few changes directly in the canonicalized3.0.0.xml. However, because this is only to migrate the guidelines it will not cause any problem in the future. @bwbohl just make sure you use that file too.

[2018-03-14 09:44] #10 closed

[2018-03-14 09:44] #7 closed

[2018-03-14 09:46] bwbohl commented on #18
ok I gather there are some problems in doing what the element-spec table should look like in markdown. Markdown doesn't support block-level markup in tables.So we might have to stick with the HTML or come up with some other structure…

[2018-03-14 09:51] lpugin commented on #18
Do you have an example? Can we simplify it? Otherwise we  can keep the HTML for now

[2018-03-14 10:32] bwbohl commented on #2
is #19 fixing what you were complaining about, at lest in parts?

[2018-03-14 10:38] bwbohl commented on #18
well markdown can't handle tables in tables as we have them e.g. with the attributes or multiple paragraphs in the same table cell are likewise problematic…

all markdown can handle is set-level things like bold italic etc. `inline code`

|col1|col2|
| ------------- |-------------|
|bold |italic|
trying a paragraph in the first cell

and a second| doesn't work

though

[2018-03-14 10:43] lpugin commented on #18
OK, let's leave it for now. What about the lists? Once we have this I would like to cleanup the MD for version 3.0 and generate the guidelines for version 4.0 (I need the canonicalized version for this). We can then cleanup the XSLT and remove the TEI parts from the source. @pe-ro ? OK with this?

[2018-03-14 10:51] bwbohl commented on #17
fixed with #19

[2018-03-14 11:08] bwbohl commented on #18
so the canonicalised v4 would be the current dev status from the music-encoding repo? as there is not tagged release yet?

[2018-03-14 11:22] #17 closed

[2018-03-14 11:43] lpugin commented on #18
Yes, this would be it. No tag yet, but maybe we should have one just for this? It is not the release, but the switch from TEI to MD, so definitely quite a big switch.

Take your time, I also have other things this afternoon.

[2018-03-14 12:43] lpugin commented on #8
done

[2018-03-14 12:43] #8 closed

[2018-03-14 14:05] pe-ro commented on #18
Sorry if this is a stupid question -- Where / how can I view the current state of this in my browser?

[2018-03-14 14:07] ahankinson commented on #18
https://music-encoding.github.io/guidelines

[2018-03-14 15:12] pe-ro commented on #18
Thanks

[2018-03-14 21:26] bwbohl opened #21 "Typo in note element documentation"
see: https://github.com/music-encoding/music-encoding/issues/505

[2018-03-15 06:28] lpugin commented on #18
(some?) tables are not in converted to html anymore. (see https://github.com/music-encoding/guidelines/blob/master/_guidelines-dev/08-cmnornaments/02-cmnornamentsmordents.md)  I cannot find the modification in the XSLT that changed this. @bwbohl any idea?

[2018-03-15 07:19] lpugin opened #22 "Namespaces in examples"
Do we really want / need to have these namespaces in all examples?
[code]

[2018-03-15 09:01] #2 closed

[2018-03-15 09:10] lpugin commented on #13
The plan it to have only "master". The branch itself will have different versions of the guidelines, including "dev" corresponding to the "develop" branch of MEI. When we make a release, "dev" is copied to the corresponding version number, and remains for further modifications. For example, when we will make the 4.0 release of MEI, "dev" guidelines will be copied as a new "v4". When 4.1 comes out,

[2018-03-15 16:05] lpugin commented on #18
Found it

[2018-03-15 16:05] #18 closed

[2018-03-18 01:46] bwbohl commented on #22
no, we definitely don't want them!
I'm still working on this in the XSLT though…

[2018-03-18 19:20] lpugin commented on #22
Don't spend too much time on fixing the XSLT. I can drop them with search an replace. The examples will not extracted with it in the future, only the tag library.

[2018-03-20 13:44] #22 closed

[2018-03-21 09:53] lpugin commented on #9
@th-we, for
http://music-encoding.org/guidelines/dev/content/cmn.html#cmnNotesStems
you can now compare
https://github.com/music-encoding/music-encoding/blob/develop/source/guidelines/cmn.xml#L393-L481
with
https://github.com/music-encoding/guidelines/blob/master/_guidelines-dev/04-cmn/01-cmnbasics/04-cmnnoteschords/01-cmnnotes/03-cmnnotesstems.md

[2018-03-21 09:55] lpugin commented on #9
Or
for
http://music-encoding.org/guidelines/dev/content/cmn.html#cmnRests
compare
https://github.com/music-encoding/music-encoding/blob/develop/source/guidelines/cmn.xml#L482-L494
with
https://github.com/music-encoding/guidelines/edit/master/_guidelines-dev/04-cmn/01-cmnbasics/04-cmnnoteschords/02-cmnrests.md

[2018-03-26 09:05] bwbohl opened #26 "Dead link in documentation"
see https://github.com/music-encoding/music-encoding/issues/503

[2018-03-27 16:37] #13 closed

[2018-03-27 16:37] #26 closed

[2018-03-27 16:40] lpugin commented on #21
Fixed http://music-encoding.org/guidelines/dev/elements/note.html

[2018-03-27 16:40] #21 closed

[2018-03-27 16:41] #9 closed

[2018-03-27 20:35] th-we commented on #9
Many thanks for the work on this!

[2018-04-10 06:53] rettinghaus opened #27 "update guideline section Neume Notation"

[2018-04-16 15:58] bwbohl opened #28 "add links from data-dictionary to guidelines"
It would be very useful to provide links form e.g. an elements data dictionary page to the section in the guidelines that explains its use and application.

Also see: https://github.com/music-encoding/music-encoding/issues/450

[2018-05-14 19:18] rettinghaus opened #29 "implicit mensur"
The section _5.2. Mensuration Signs_ is not totally clear on how the information given should be rendered, and I'd like to improve it.
Q: Do `@modusmaior`, `@modusminor`, `@tempus` and `@prolatio` imply a sign to be rendered, or are they meant to *just* carry musical meaning, i.e. do one always have to give *explicit* information about the desired sign to be rendered by `@sign`, `@orient`, `@slash

[2018-05-25 18:52] ahankinson opened #32 "Fix gemfile vulnerability"
Fix is in the works...

[2018-05-26 18:43] #32 closed

[2018-06-09 00:16] ahankinson commented on #27
Refs #34

[2018-06-09 00:18] ahankinson opened #35 "Formatting in attribute class documentation"
In the attribute class documentation the individual class declarations are rendered as XML, rather than parsed out as HTML.

c.f. http://music-encoding.org/guidelines/dev/attribute-classes/att.classed.html

Is this intentional or is this something that needs to be tackled?

[2018-06-09 01:29] pe-ro commented on #35
This is intentional.

[2018-06-09 12:11] ahankinson commented on #35
It doesn't seem very friendly...

[2018-06-19 09:07] lpugin commented on #35
Sorry, I do not understand this issue.

[2018-06-19 09:08] lpugin commented on #29
Could you check this with the mensura-ig?

[2018-06-19 09:10] ahankinson commented on #35
The 'declaration' and 'constraint' sections of the attribute documentation are plain XML, and haven't been parsed out as more user-friendly markup.

[2018-06-19 09:10] lpugin commented on #27
Too general, closing for now.

[2018-06-19 09:10] #27 closed

[2018-06-19 09:13] lpugin commented on #35
I see. I do not find it bad as it is with the constraint where we have both an explanatory sentence and the corresponding XML. I see it as a way for readers to learn more about how it works behind the scene.

[2018-06-19 09:15] lpugin opened #37 "Link to triggering commit"
It would be useful to have in the dev version of the guidelines a link to the music-encoding/music-encoding repo that triggered the corresponding build. Maybe we can have this in the footer?

[2018-06-19 09:17] ahankinson commented on #37
You mean in the markdown itself? It's in the commit message, but I just noticed that doesn't work.

[2018-06-19 09:22] lpugin commented on #37
Yes, so we can see if from the web-page. This will also help to check/know that the built was successful.

[2018-06-19 09:47] lpugin commented on #37
Can write is a plain text to the `_include/${MEI_VERSION}/build.txt` file? It can be for all version

[2018-06-19 09:49] lpugin commented on #37
See https://github.com/music-encoding/guidelines/commit/ab56cc6ce2ffd4b8ad7330e97161ddaa382708cb

[2018-06-20 18:32] rettinghaus opened #38 "rename example files to *.txt"
Would that be ok, or problematic?

[2018-06-22 14:54] ahankinson opened #40 "Remove 'xinclude' Namespace in examples"
As a consequence of the migration the xinclude namespace now seems to be added to many of the examples. This should be removed.

See, for example:

https://github.com/music-encoding/guidelines/blob/07501b123480dd0a5f621b885eb6b6dd9e5b7167/_includes/dev/examples/cmn/cmn-sample099.xml

[2018-06-22 15:02] lpugin commented on #40
Could you double check the status in the master branch?

[2018-06-22 16:30] ahankinson commented on #40
Do you mean the v3 folder? It's not there. What's the difference?

[2018-06-24 14:48] lpugin commented on #40
No, I mean the same file in the master branch: https://github.com/music-encoding/guidelines/blob/master/_includes/dev/examples/cmn/cmn-sample099.xml

We actually do not use develop. We should probably drop it for now, and just have one whenever we are going through a development phase that needs one.

[2018-06-25 13:20] rettinghaus commented on #38
see discussion in #39

[2018-06-25 13:25] rettinghaus opened #41 "example glyphs missing in text"
There are several glyphs in the guidelines text missing now, e.g. see MEI_Guidelines_v3.0.0.pdf p. 160 and p. 168.
How should that be addressed?

[2018-06-25 13:40] lpugin commented on #41
Some more information about the current status:

![image](https://user-images.githubusercontent.com/689412/41853321-cfaa4d66-788d-11e8-8b54-8749eebaf713.png)

http://music-encoding.org/guidelines/dev/content/cmnornaments.html#cmnOrnamentsMordents

https://github.com/music-encoding/guidelines/blob/master/_guidelines-dev/08-cmnornaments/02-cmnornamentsmordents.md

[2018-06-25 13:48] #40 closed

[2018-06-25 17:54] ahankinson commented on #41
Is there a SMuFL-compatible webfont available we can use? Can we encode the SMuFL glyph code in the documentation with a CSS wrapper, e.g.,

[code]

?

[2018-06-26 06:45] lpugin commented on #41
What about using the edirom smufl browser? Something like:

![SMuFL-E56D](http://edirom.de/smufl-browser/E56D.png)

[2018-06-26 06:56] ahankinson commented on #41
The downside to doing that would be relying on an external service for our documentation. If the smufl-browser goes away, or changes its URLs, we wouldn't know.

[2018-06-26 07:14] lpugin commented on #41
We can use the woff BravuraText, but it is 1.2Mb

[2018-06-26 09:17] kepper commented on #41
What if we just include some images? That's not very flexible, but small…

[2018-06-26 11:32] rettinghaus commented on #41
@kepper where to get them?

[2018-06-26 11:37] kepper commented on #41
Not sure if I get the question. I would just take a screenshot from the smufl browser (or anything else) and upload that to our site. The other possible question would have been how to load that image in this particular place, and admittedly, I haven't looked into that yet.

[2018-06-26 11:39] lpugin commented on #41
http://edirom.de/smufl-browser/E56D.png

[2018-06-26 12:06] rettinghaus commented on #41
Actually I found some of them in the guidelines (well hidden):
https://github.com/music-encoding/guidelines/blob/master/images/dev/modules/cmnOrnaments/turn.png

Proposal: gather the musical glyphs in a single folder.

[2018-06-26 21:00] ahankinson commented on #41
What about a `smufl` include that takes the SMuFL codepoint and loads the PNG?

[code]

[2018-06-26 21:14] kepper commented on #41
First, I was worried that the situation originally referred to was already an include from our /desc folder, but actually, it's not (it lives directly within https://github.com/music-encoding/guidelines/blob/master/_guidelines-v3/08-cmnornaments/02-cmnornamentsmordents.md). I think Andrew's proposal is the best way to go then. But we still need to decide if we want to rely on the smufl browser to

[2018-06-26 21:16] ahankinson commented on #41
I say let someone else do the work. :)

Seriously, though -- I think we can go with the SMuFL browser until such time as it doesn't exist, and then explore our options, which could range from storing our own to using a webfont. It should be possible to do both if all we are doing is storing the SMuFL codepoint.

[2018-06-27 07:35] lpugin commented on #41
Since I proposed it I am happy to take the decision: yes.

[2018-06-27 07:37] ahankinson commented on #41
OK -- I've got it almost ready to go in a PR.

[2018-06-28 07:15] ahankinson commented on #35
Just looking through this -- I think there's a bug here, though. The "Attributes" section is always empty. I would expect to find the documentation for each of the attributes (at least the attribute name, but also a description if there is one) but it never seems to be there. The only way of finding out what attributes are in that class is to read the ODD declaration. Spot-checking a few:

http://

[2018-06-28 08:41] kepper commented on #35
Looks like we (in the sense of I) overlooked that. There should be the attributes listed, in a similar fashion as they are included in the elements' pages…

[2018-06-29 06:12] ahankinson commented on #35
OK; Can you take care of fixing that?

[2018-06-29 07:38] kepper commented on #35
will do

[2018-07-02 09:12] ahankinson opened #46 "Missing symbols in `<dir>`"
In the last sentence of the explanation there are some missing symbols:

http://music-encoding.org/guidelines/dev/elements/dir.html

[2018-07-07 09:28] rettinghaus opened #47 "invalid html in guidelines"
The *Declaration* fields in the guidelines, that present the ODD snippet, are invalid, because `<div>` is not allowed within `<code>`.

Example:
http://music-encoding.org/guidelines/dev/data-types/data.uneumename.html

[2018-07-07 21:21] kepper commented on #35
should be fixed for v3, will do dev in two weeks from now

[2018-10-31 11:55] musicEnfanthen commented on #28
From point of documentation and orientation it would be very useful, indeed, to have such "back-links".

[2018-10-31 14:58] rettinghaus opened #58 "use Jekyll-Scholar"
For bibliographic references within the guidelines we should store these in a BibTeX file and make use of https://github.com/inukshuk/jekyll-scholar

[2018-10-31 15:33] ahankinson opened #59 "Make extractGuidelines.xsl less verbose"
Currently it's filling up the logs on Travis.

[2018-11-03 12:33] rettinghaus commented on #46
The problem is in the `extractGuidelines.xsl` in line 896:

@kepper would changing it from
[code]
to
[code]
help?

[2018-11-03 12:34] rettinghaus commented on #41
This is working now.

[2018-11-03 12:34] #41 closed

[2018-11-03 12:46] rettinghaus commented on #35
@ahankinson @kepper What's with this issue?

[2018-11-04 15:48] musicEnfanthen commented on #58
Agree with @ahankinson. Jekyll Scholar looks pretty promising but seems to have a problem with Github Pages workflow according to this: [https://github.com/inukshuk/jekyll-scholar#github-pages](https://github.com/inukshuk/jekyll-scholar#github-pages)

What would/should bibliographic references in the guidelines look like? Do you have an example?

[2018-11-04 16:59] rettinghaus commented on #58
No, @musicEnfanthen, didn't use it so far. Just thought, as you, that it looks promising.

Problem is, that in the guidelines all bibliographic references are scattered and not consistent in style. After you did the job on the main pages, I thought you may want to have a look at it. But will do too, as soon as I'll get to it.

[2018-11-05 12:20] rettinghaus opened #63 "obsolete elements still available"
Elements that are no longer available in MEI4 are still in the guidelines, e.g. `workDesc`

https://music-encoding.org/guidelines/v4/elements/workdesc.html

[2018-11-05 12:42] #63 closed

[2018-11-05 12:47] ahankinson commented on #63
This is now fixed. Given the large amount of changes and the fact that they were only deletes, I chose to commit directly rather than through a PR.

[2018-11-05 23:18] musicEnfanthen commented on #58
Thanks. I definitely will have a closer look at it. We have to check if it needs too much of a hack to run `jekyll-scholar` with `gh-pages`. On the other hand, while `bibbase` is fine for a bibliographic list (like the one on the website), I don't see any way how to use it with inline bibliographic references in the guidelines.

[2018-11-06 21:00] musicEnfanthen commented on #47
Where did you find this information that `<div>` is not allowed within `<code>`? By definition, every html element should be allowed inside `<code>`.

[2018-11-06 21:02] ahankinson commented on #47
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code

'Phrasing content' are the only allowed tags within `<code>`. If you want to embed other tags you have to character-encode them, e.g., `&lt;div&gt;`

[2018-11-07 08:18] musicEnfanthen commented on #47
I see. It's not allowed as genuine html tag.

If I understand it right, the divs and spans in the _Declaration_ part are used for styling purposes (indentation, coloring)?  How is it generated? Automatically?

[2018-11-07 08:29] kepper commented on #47
All that is generated automatically on commit. However, the code in there is quite old, and has been adjusted several times to different needs (it's been generating the starting point for our Guidelines PDFs in the past, amongst other things). There have been all kinds of issues in the past, and given that I've essentially build a similar thing last week twice (the only hard part is resolving the

[2018-11-07 08:57] lpugin commented on #47
Could we use LibMEI and have a guidelines output for it

[2018-11-07 09:16] ahankinson commented on #47
Given that the libmei processor is essentially just a bunch of xpath queries in Python, I don't think there is much advantage to that over XSLT.

[2018-11-18 11:35] kepper commented on #47
just a brief update – I'm working on this (including #46, #59, #35 and potentially #28), and hope to have something ready for review soon. No need for someone else to pick these up

[2018-11-23 11:01] kepper opened #64 "shall we split up macro groups from data types?"
Right now, we mix data types (encoded as `<tei:macroSpec type="dt">`) and "macro groups" (encoded as `<tei:macroSpec type="pe">`) into one category in our specs:

https://music-encoding.org/guidelines/v4/data-types.html.

However, we separate them out and place them at the bottom, under the (not particularly helpful) label "Macros". As I'm currently revising the complete spec processing, I was won

[2018-11-23 11:54] rettinghaus commented on #64
Makes sense.

[2018-11-23 16:39] musicEnfanthen commented on #64
I would second the idea of having a separate entry, too.

Just wondering why it is called `macroSpec` for data types at all? Probably following TEI sepcification? As it turns out, TEI's `macroSpec` seems to have been marked [deprecated](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-macroSpec.html) for data types this autumn in favor of [dataSpec](http://www.tei-c.org/release/doc/tei-p5-d

[2018-11-26 15:59] pe-ro commented on #64
@musicEnfanthen, we're not yet using so-called "pure ODD".

[2018-11-26 16:34] pe-ro commented on #64
The 2 different kinds of "macro" behave differently and should be presented on separate pages.

[2018-12-05 12:03] rettinghaus commented on #47
HTML errors/warnings
* still `div` within `code`
* `div` does not allow `xml:space="preserve"`
* `script` may omit `type` attribute.

[2018-12-05 12:07] rettinghaus opened #66 "classBox missing borders"
The `classBox` in data-types has no borders on the right and at the bottom.
Is this intentional, or missing in CSS?

[2018-12-05 12:45] kepper commented on #66
intentional. I wouldn't do one on the right, because they nest quite deeply, and an additional margin / padding on the right would double the problems on mobile devices, but I'm feeling less strong about the bottom one. It just fills up even more space, with almost no additional information…

[2018-12-05 12:45] kepper commented on #47
that's the code I kept ;-)

[2018-12-06 00:22] ahankinson commented on #66
It does look weird.

[2018-12-10 23:27] ahankinson opened #67 "Add anchors to specific attributes in elements"
For example, it would be nice to link to the `@enclose` attribute on `<accid>`. There are likely two parts to this -- 1: including an `id` on the HTML element (`id="accid-att-enclose"`) and 2: Adding a small `<a href="#accid-att-enclose">(some fancy icon symbol here)</a>` to let people access the link.

[2019-01-02 16:42] rettinghaus opened #68 "Revise CMN section"
Labelling staves has changed in MEI4.
References to `@label` and `@label.abbr` should be updated.

[2019-01-03 00:28] craigsapp opened #102 "Facet letter de-emphasis on elements page"
It would be useful to de-emphasize the facet letters ("a", "b, "c", etc.) on the elements list:

https://music-encoding.org/guidelines/v4/elements.html

Current styling:

![screen shot 2019-01-02 at 4 17 16 pm](https://user-images.githubusercontent.com/3487289/50618887-7879fb00-0eaa-11e9-8934-a5ff4dba79b4.png)

Proposed styling:

![screen shot 2019-01-02 at 4 17 54 pm](https://user-images.githubus

[2019-02-08 08:46] craigsapp opened #69 "missing images"
On the page:

https://music-encoding.org/guidelines/v4/content/usersymbols.html

There are six missing images,such as:

<img width="610" alt="screen shot 2019-02-08 at 3 44 31 am" src="https://user-images.githubusercontent.com/3487289/52467568-f4bfc800-2b53-11e9-887f-e96ada12eeb7.png">

[2019-03-15 08:59] bwbohl opened #74 "revise documentation of `<source>`"
In v4.0.0 `<source>` underwent heavy changes that are not reflected in the documentation. This leads to confusion (cf. https://github.com/music-encoding/music-encoding/issues/579) and should be fixed

[2019-03-22 11:55] bwbohl commented on #38
this is done isn't it?

[2019-03-22 12:30] rettinghaus commented on #38
Not completely, I think.

[2019-03-29 08:12] bwbohl commented on #69
Figure contents was

[code]
and

[code]

how should this get back into the guidelines:
a) directly as codeblock as above?
b) via xml snippet in example file?

[2019-04-04 16:38] kepper opened #80 "Revise 01: Introduction to MEI"
This issue can be used to discuss chapter 1 of the guidelines.

[2019-04-04 16:39] kepper opened #81 "Revise 02: Shared Concepts in MEI"
This issue can be used to discuss chapter 2 of the guidelines.

[2019-04-04 16:40] kepper opened #82 "Revise 03: Metadata in MEI"
This issue can be used to discuss chapter 3 of the guidelines.

[2019-04-04 16:41] kepper opened #83 "Revise 04: Repertoire: Common Music Notation"
This issue can be used to discuss chapter 4 of the guidelines.

[2019-04-04 16:42] kepper opened #84 "Revise 05: Repertoire: Mensural Notation"
This issue can be used to discuss chapter 5 of the guidelines.

[2019-04-04 16:43] kepper opened #85 "Revise 06: Repertoire: Neume Notation"
This issue can be used to discuss chapter 6 of the guidelines.

[2019-04-04 16:44] kepper opened #86 "Revise 07: Repertoire: String Tablature"
This issue can be used to discuss chapter 7 of the guidelines.

[2019-04-04 16:45] kepper opened #87 "Revise 08: Lyrics and Performance Directions"
This issue can be used to discuss chapter 8 of the guidelines.

[2019-04-04 16:46] kepper opened #88 "Revise 09: Text Encoding"
This issue can be used to discuss chapter 9 of the guidelines.

[2019-04-04 16:47] kepper opened #89 "Revise 10: Analysis Markup and Harmonies"
This issue can be used to discuss chapter 10 of the guidelines.

[2019-04-04 16:50] kepper opened #90 "Revise 11: Scholarly Editing with MEI"
This issue can be used to discuss chapter 11 of the guidelines.

[2019-04-04 16:51] kepper opened #91 "Revise 12: Facsimiles and Recordings"
This issue can be used to discuss chapter 12 of the guidelines.

[2019-04-04 16:52] kepper opened #92 "Revise 13: Linking Data"
This issue can be used to discuss chapter 13 of the guidelines.

[2019-04-04 16:55] kepper opened #93 "Revise 14: Integrating MEI with other Standards and Formats"
This issue can be used to discuss chapter 14 of the guidelines.

[2019-04-12 07:51] Grabitz commented on #90
I spotted the following inconsistencies:
- 11.2. model.model.choicePart in Guidelines but model.choicePart in specs
- 11.2.1.1. I wasn't able to find @extsym in specs
- 11.2.4.1 I wasn't able to find <gap> @quantity in specs

[2019-04-12 08:06] Grabitz commented on #83
I spotted the following inconsistencies:
- 4.2.2.  model.model.eventLike in Guidelines but model.eventLike in specs, this also occurs in   4.2.5., 4.3.6.1., 4.3.6.2., 4.3.6.3.
- 4.2.4.2. I wasn't able to find `@mRest`, `@multiRest` and `@mSpace` in specs
- 4.3.1. I can't find `@rend`for <beam> in specs
- 4.3.3.  model.model.controlEventLike in Guidelines but model.controlEventLike in specs, also o

[2019-04-12 08:40] Grabitz commented on #81
I spotted the following inconsistencies:
- 2.2.3 shared concepts:`@stem`is the only attribute without an explanation in the guidelines.
- 2.3. Common Attributes: @xml---base in guidelines but @xml:base in specs, @xml---id in guidelines but @xml:id in specs
- 2.4.2.1, 2.4.2.2., 2.4.2.3. some pictures are not displayed (I see question marks instead)
- 2.4.2.3. I can't find `@glyphname` and `@glyphnu

[2019-04-12 13:01] ahankinson commented on #68
Duplicate of #83 ; closing this one in favour of that one.

[2019-04-12 13:01] #68 closed

[2019-04-12 14:30] axgeertinger opened #94 "clarify use of @dur.ges"
data.DURATION.gestural and data.DURATION both refer to data.DURATION.cmn (and data.DURATION.mensural). That restricts the values of `@dur.ges` to the same as those for `@dur`, which doesn't make sense, does it?

[2019-04-12 14:33] ahankinson opened #95 "Guidelines for percussion notation"
_From [zupf...@googlemail.com](https://code.google.com/u/113984963995030839842/) on September 16, 2012 04:39:55_

This is not covered in the 2012 guidelines. Special problem: How to define on which line/space a note should be? @-pname/@oct are logically wrong, and with a percussion clef we wouldn't even have a reference pitch.

_Original issue: http://code.google.com/p/music-encoding/issues/detail

[2019-04-12 14:36] ahankinson opened #96 "Create a "visual index" for the Guidelines"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:46:19_

An image of music notation where features are labelled and/or linked to explanations and/or examples of MEI markup would be useful.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=225_

[2019-04-12 14:37] th-we opened #97 "Wrong use of <subst> in guidelines for <supplied>?"
In my understanding, `<subst>` is for encoding scribal substitutions, not editorial substitutions. That's how I read the guideline chapter [Substitutions, Restorations, and Handshifts](https://github.com/music-encoding/music-encoding/blob/e71f128296d9306ab631143ffa2eedaa5dbe12e9/source/guidelines/editTrans.xml#L488), which seems to match how the [TEI equivalent](http://www.tei-c.org/release/doc/te

[2019-04-12 14:38] bwbohl opened #98 "link to sample-encodings from guidelines / tag-library"
It would be a nice feature to link any occurrence of an element from its descriptions in the tag library.

[2019-04-12 14:40] craigsapp opened #99 "beam@num.place meaning"
`beam@num.place` (and `beam@bracket.place`) can have the value `above` or `below`.  What exactly does this mean?   The documentation says that it is in relation to the noteheads:

<img width="726" alt="screen shot 2018-07-22 at 11 00 06 am" src="https://user-images.githubusercontent.com/3487289/43044091-05b15702-8da0-11e8-86fc-eb635d459d6c.png">

`@place` in other cases are related to a fixed vert

[2019-04-12 16:28] craigsapp commented on #93
Changes from MEI 3.0 to MEI 4.0 and other edits to do for chapter 14

- [ ]  `@dur.ges`values using PPQ tick durations should now be changed to `@dur.ppq` for MIDI in particular (but also applies to MusicXML `<duration>`, so probably add a section for MusicXML to discuss that).
- [ ]  Maybe mention `@dur.real` and relation to MIDI.
- [ ]  `@midi.instrnum`  has changed significantly in MEI 4: Now i

[2019-05-03 13:01] irmlindcapelle opened #100 "add link to elements for include desc template"
The regular `{% include desc elem="accMat" %}` templates don't create a link to those elements. Adding that would be extremely helpful.

[2019-05-13 13:03] musicEnfanthen opened #101 "Add overview of available modules to guidelines?"
There is an overview for elements, attributes etc., but not for the available modules. Maybe this would be good to have, as every element description is pointing to a certain module and attributes and models and the like can be sorted "by module".

Additionally, there could/should be a link from both locations to the module overview descriptions.

[2019-05-14 07:42] ahankinson commented on #102
Done.

[2019-05-14 07:49] musicEnfanthen commented on #102
Thx :)

[2019-05-14 12:15] musicEnfanthen commented on #101
Modules are here: https://github.com/music-encoding/music-encoding/tree/develop/source/modules

[2019-05-14 12:17] kepper commented on #101
I was thinking about adding that to the new chapter 1 of the Guidelines, but that might be too hidden…

[2019-05-14 12:40] musicEnfanthen commented on #101
Yes, too hidden. May be as a separate entry on the right panel next to `Elements`, `Atttribute Classes` etc..

[2019-05-14 12:44] kepper commented on #101
And from there on? Open a page with the full list of modules. Each of those could be a link that points to another overview page which gives a brief description at the top (probably just the `//moduleSpec/desc`), and then lists all elements, model / att classes etc. from that module. Right?

[2019-05-14 12:48] craigsapp opened #103 "Color for element list boxes and attribute zebra-striping"
In the list of elements:
    http://music-encoding.org/guidelines/v3/elements.html

<img width="851" alt="screen shot 2018-06-07 at 11 53 45 pm" src="https://user-images.githubusercontent.com/3487289/41143313-a7068fd4-6aad-11e8-8c2f-6aa7efdb6c9b.png">

And on element documentation pages:
    http://music-encoding.org/guidelines/v3/elements/desc.html

The alternating gray background and element tag

[2019-05-14 12:48] #103 closed

[2019-05-14 13:09] musicEnfanthen commented on #101
Yes, analogue to the Elements, Attributes etc. pages

[2019-05-17 16:16] musicEnfanthen commented on #92
The linking data chapter has the following inconsistencies in regard to MEI v4:

- `xlink:title` is not in the specs
- the whole `linkAlign` module is not available anymore (`timeline` element is deprecated, see cf13ae3. `when` attribute is still available but for `recording` and `clip` that are documented in chapter [12.2. Performances](https://music-encoding.org/guidelines/v4/content/facsimilesr

[2019-05-19 19:33] musicEnfanthen commented on #69
It seems that the section uses a wrong include snippet, trying to include (non-existing) figures instead of encoding samples, so

`
{% include figure img="" caption="Definition of a triangle percussion symbol using graphic primitives" %} `

instead of

`{% include mei example="usersymbols/usersymbols-sampleXXX.xml" valid="" %}`

The encoding samples are here: https://github.com/music-encoding/guid

[2019-05-20 12:53] #100 closed

[2019-05-20 18:20] musicEnfanthen opened #105 "Filename CON not allowed on Windows"
As it turns out, `CON `is a reserved name on Windows systems, see the following two links:

- https://stackoverflow.com/a/51523161
- https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file#naming-conventions

This affects 3 files in the v4 guidelines and 1 in v3 named `con.txt` (what is a brilliant file name, by the way):

- [_includes/v4/desc/att.syl.log](https://github.com/music-en

[2019-05-21 13:21] ahankinson commented on #105
Thanks, @musicEnfanthen ! That is indeed a frustrating bug.

I've tried to find a way around this but it doesn't seem like there's any real solution. Changing the `@con` would be a backwards-incompatible change, so that wouldn't be good.

Maybe we can have a change in the XSLT parser that will handle `con.txt` differently?

[2019-05-21 13:40] irmlindcapelle opened #106 "Child element description"
In the guidelines the description of the child elements is not correct: all child elements have the text of the mother element and not their own text

[2019-05-21 13:42] ahankinson commented on #106
Could you please post a link to an example?

[2019-05-21 13:45] kepper commented on #106
On https://music-encoding.org/guidelines/v4/elements/manifestation.html, when you look at the "may contain" facet in "by class" mode, you will get the content of //manifestation/desc, not of the descs of those direct child elements. My fault :-)

[2019-05-21 14:33] musicEnfanthen commented on #105
Thanks for looking into this!

Renaming the con.txt to something like att-con.txt would not be feasable, I guess? But it is introducing inconsistency if not applied to all those attribute related .txt files

[2019-05-21 14:35] ahankinson commented on #105
The name of the files is managed by the XSLT that generates the markdown files from the schema. Any renaming should happen in the XSLT, and then (🤞) it will all still magically work.

[2019-05-21 21:50] irmlindcapelle commented on #106
this mistake is also to find in the description of the elements for example under model.textPhraseLike.limited (and other "models"); see for example <decoDescr> Element
https://music-encoding.org/guidelines/v4/elements/decodesc.html

[2019-05-23 08:43] margrethesb commented on #88
Faulty link, 9.1.1.

{% include desc atts="div/type" %}

[2019-05-23 08:50] margrethesb commented on #88
9.1.1. Check this.

Having said that div identifies any structural organization of text, it is often helpful to distinguish the typology of division. The attributes @type and @subtype can be used for this purpose. It is required that @type be present when @subtype is used, though their values can be freely set by the encoder.

The following example shows the use of @type to indicate three prefaces

[2019-05-23 08:54] margrethesb commented on #88
9.1.3. Faulty link:

{% include desc atts="list/type" %}

[2019-05-23 08:55] margrethesb commented on #88
9.1.3. Check this re: @type

<list>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>Ornaments in different languages
   </head>
   <li n="English" xml:lang="en">Turn</li>
   <li n="Italian" xml:lang="it">Gruppetto</li>
   <li n="French" xml:lang="fr">Gruppetto</li>
   <li n="German" xml:lang="de">Doppelschlag</li>
</list>

[2019-05-23 09:00] margrethesb commented on #88
9.1.3. @type faulty

[2019-05-23 09:01] margrethesb commented on #88
9.1.5. Same

[2019-05-23 09:04] margrethesb commented on #88
And 9.1.6., 9.1.7., 9.3.1., 9.3.2.2., 9.3.2.4.

[2019-05-24 12:47] ndubo commented on #87
I'm working on the revision of the guidelines chapter 8.1. How do I get to the embedded xml-examples?

[2019-05-24 13:07] lpugin commented on #87
The one in this section https://github.com/music-encoding/guidelines/tree/master/_includes/v4/examples/shared is in this folder
https://github.com/music-encoding/guidelines/tree/master/_includes/v4/examples/shared
namely: https://github.com/music-encoding/guidelines/blob/master/_includes/v4/examples/shared/shared-sample010.xml

[2019-05-24 13:19] ndubo commented on #87
Found it. Thanks!

[2019-05-27 07:43] musicEnfanthen opened #108 "Chapter 04: Chord element not adressed in Guidelines"
Chapter 4 of the Guidelines has a section [4.2.4. Notes, Chords and Rests in CMN](https://music-encoding.org/guidelines/v4/content/cmn.html#cmnNotesChords)

Subchapters are only adressing Notes & Rests, Chords are not adressed separately. Although the handling of chords can be easily understood by experienced users using the examples in the notes section, it could be difficult for beginners to fin

[2019-05-27 08:08] lpugin commented on #108
Fully agree. Things that should probably be documented are:
* encoding of duration on chords: do we recommend to put a duration on the chord element?
* chords with notes with different durations: do we recommend to put the longest duration on the chord element?
* use of dots and dots.ges when some notes are missing a dot
* placement of artic (within chord or within notes)

[2019-05-31 06:13] kepper opened #110 "layout of specs broken"
Some commit that happened in the past 12 hours must have broken the layout of the specs:

https://music-encoding.org/guidelines/v4/elements/manifestation.html#attributes

The CSS is generally available (it would be much worse otherwise), but the current state is unusable. I suspect that a classname got lost, on which parts of the layout rely, but this is just a first assumption.

I can look into t

[2019-05-31 06:54] lpugin commented on #110
Just to make it clear: the CSS of the website is used for the guidelines, so changes quite likely occurred here https://github.com/music-encoding/music-encoding.github.io

[2019-05-31 07:08] lpugin commented on #110
Fixed with https://github.com/music-encoding/music-encoding.github.io/pull/91

[2019-05-31 07:08] #110 closed

[2019-06-03 12:53] rettinghaus opened #114 "sub-datatypes should point somewhere"
e.g. [data.COLOR](https://music-encoding.org/guidelines/v4/data-types/data.color.html) has an `is used by` entry, whereas [data.COLORNAMES](https://music-encoding.org/guidelines/v4/data-types/data.colornames.html) and [data.COLORVALUES](https://music-encoding.org/guidelines/v4/data-types/data.colorvalues.html) are

[2019-06-17 10:16] axgeertinger opened #115 "Control events in non-measured notation?"
The MEI 3 model.controleventLike has changed somewhat into model.controlEventLike.cmn in MEI 4. It seems that its members are no longer available in non-measured notation (within `<layer>`, for instance, where they used to be allowed) except inside editorial markup. Is that intentional? Specifically, my question is: Where can I put a non-editorial fermata in square (neume) notation?

[2019-06-17 10:21] axgeertinger commented on #115
Sorry - this issue was meant to go into the schema repo, not the guidelines .

[2019-06-17 10:21] #115 closed

[2019-07-31 08:34] bwbohl commented on #105
am I right to assume, that the include files consequently have to be regenerated? Currently serving the guidelines locally fails due to _desc files not being found!

[2019-07-31 08:45] bwbohl opened #117 "Chapter on customisation"
Adding this from a closed issue in music encoding/music-encoding, cf. https://github.com/music-encoding/music-encoding/issues/83

[2019-07-31 08:47] bwbohl opened #118 "Provide markup examples and illustrations within elementSpec"
Adding this from closed issue in music-encoding/music-encoding, cf. https://github.com/music-encoding/music-encoding/issues/222

[2019-07-31 09:09] bwbohl commented on #69
@musicEnfanthen thx for spotting this, nevertheless the figures had been included in previous versions of the guidelines and I think they should be reintroduced, best both, code and figure. I'll see what I can do when fixing the new chapter 2 (cf. #81 )

[2019-07-31 09:10] bwbohl commented on #95
After the basic review of the guidelines to match MEI v4 we could introduce a new Repertoire chapter for percussion. Do you have anyone in mind who encodes percussion notation in MEI and could write that chapter?

[2019-07-31 10:31] musicEnfanthen commented on #69
Fully agree

[2019-08-14 14:17] axgeertinger opened #120 "3.1.1.3: PhysDesc not allowed in fileDesc"
Chapter 3.1.1.3. "Physical Description of the File" should be renamed and the example corrected accordingly (remove physDesc)

[2019-08-14 15:03] kepper opened #121 "revise structure of metadata chapter"
@axgeertinger, @irmlindcapelle and I where thinking to adjust the structure of the metadata chapter to the following:

- Intro
- Structure of the MEI Header (here we explain the different areas of the header)
- Works
- Sources
- The MEI file (`<fileDesc>`, `<revisionDesc>`)
- FRBR
- Authority Files
- Common Concepts (here we explain things like `<respStmt>`
- Typical Use Cases (here we plan to giv

[2019-08-23 11:56] #106 closed

[2019-09-11 09:45] rettinghaus opened #124 "example images not shown"
@kepper embedded images are not shown, e.g. see
https://music-encoding.org/guidelines/v4/data-types/data.accidental.written.html

[2019-10-05 07:00] th-we opened #126 "@num on <fTrem>/<bTrem>"
[This guildeline page](https://github.com/music-encoding/guidelines/blob/7f07d846987f90b428db689520d5e8027faf5135/_guidelines-v4/04-cmn/03-cmnadditionalmeasurecontent/05-cmnartic/03-cmntrem.md) says:

I was a little confused by that. I read this as "don't use `@num` unless you're an OMR process." But when an OMR process recognizes a tuplet number on a tremolo, why can't it just wrap the `<fTrem>`/

[2019-10-28 14:39] rettinghaus opened #132 "BibBase style on tutorials page"
@musicEnfanthen I would suggest to use a more compact style for external tutorials. Could you and would you add `theme=simple` to the BibBase script?

[2019-10-28 14:43] rettinghaus commented on #124
Thanks!

[2019-10-28 16:02] musicEnfanthen commented on #132
Yes, thanks, good idea.

Can you please transfer this issue to the website repo?

[2019-12-08 22:08] craigsapp commented on #99
Should discussions about new features (or changes in features) be placed here (music-encoding/guidelines) or in (music-encoding/music-encoding)?  I am going to submit a new issue for `<key>`, which I will start in this repository...

[2019-12-08 22:34] craigsapp opened #136 "Enhancement of key element and/or clarification of keySig@pname"
The key element:

https://music-encoding.org/guidelines/v4/elements/key.html

Is currently allowed to be contained in these element:

<img width="416" alt="Screen Shot 2019-12-08 at 2 12 13 PM" src="https://user-images.githubusercontent.com/3487289/70397161-b0e05e00-19c4-11ea-8840-3a0ef369e88e.png">

It was originally designed to be a header-specific description of the key for the work.  However,

[2019-12-09 10:08] rettinghaus commented on #136
As you can see from the Guidelines `@key.mode` `@key.accid` `@key.pname` are part of `MEI.analytical` and thus independent from `@key.sig`. There are multiple examples where the written key signature and the logical key signature doesn't seem to match (e.g. pieces by Mattheson and Mendelssohn):
[code]

[2019-12-09 13:49] craigsapp commented on #136
Thanks.

Is `staffDef@key.pname` equivalent to `keySig@pname` (and same for mode)?

In other words, are these two equivalent in meaning:

[code]

[code]

In other words, when I look for the key, then I will have to look in both places to find it?

[2019-12-09 14:15] rettinghaus commented on #136
I would say yes, they're equivalent.

[2019-12-09 17:34] craigsapp commented on #136
Thank!

[2020-02-03 11:16] rettinghaus commented on #69
see https://music-encoding.org/guidelines/v4/content/shared.html#usersymbolsReusableSymbols

[2020-02-03 11:16] #69 closed

[2020-02-03 11:25] rettinghaus commented on #58
@musicEnfanthen any progress with this?

[2020-02-03 12:00] lpugin commented on #58
gh-pages does not allow to run plugins, so for this to work you would need to build the pages outside gh-pages and then push the result to the repo. We need to make sure this is not an overkill.

[2020-02-03 13:36] rettinghaus opened #138 "Encoding pedal lines"
I'd like to improve and expand the pedal section in chapter 04. But I'm not quite shure how to encode piano pedal lines. AFAICS there are different possibilities (refers to https://github.com/music-encoding/music-encoding/issues/305).
Should the recommended (the simplest) way be `<pedal tstamp="1" tstamp2="4" form="line" />`?

[2020-02-04 09:44] th-we opened #139 "Unused sample files"
Looking for trill examples I stumbled upon [cmnornaments-sample187.txt](https://github.com/music-encoding/guidelines/blob/master/_includes/v4/examples/cmnornaments/cmnornaments-sample187.txt), [cmnornaments-sample188.txt](https://github.com/music-encoding/guidelines/blob/master/_includes/v4/examples/cmnornaments/cmnornaments-sample188.txt), [cmnornaments-sample200.txt](https://github.com/music-enc

[2020-02-04 10:03] th-we commented on #139
Sorry, I was mistaken here – I only looked for the exact same capitalization, so the list is reduced to this:

    analysis-sample170.txt
    analysis-sample171.txt
    analysis-sample175.txt
    cmn-sample090.txt
    cmnornaments-sample179.txt
    cmnornaments-sample180.txt
    cmnornaments-sample181.txt
    cmnornaments-sample182.txt
    cmnornaments-sample183.txt
    cmnornaments-sample184.txt

[2020-02-04 10:03] #139 closed

[2020-02-04 10:56] th-we opened #141 "Need documentation for `@endid` on trills"
I'm not clear about whether the `@endid` of a trill should point to the last note of the trill or the first note/rest/whatever after the trill. Verovio seems to interpret `@endid` as the first thing after the trill:

    <measure n="1">
        <staff n="1">
            <layer n="1">
                <note xml:id="m-38" dur="1" oct="4" pname="g"/>
            </layer>
        </staff>
        <tril

[2020-02-04 19:46] craigsapp commented on #141
I use `@tstamp2` in such cases (I think I use `@tstamp2` in all cases for trill lines):

<img width="1582" alt="Screen Shot 2020-02-04 at 11 41 45" src="https://user-images.githubusercontent.com/3487289/73780454-5c96f780-4743-11ea-98a5-f29cc1f77dc0.png">

using `@endid` for the next note would be somewhat problematic since the trill line should not cross the barline, that is why I added a tstamp t

[2020-02-06 10:54] musicEnfanthen commented on #58
I've experimented with it a while ago, but did not get very far. My impression was the same as @lpugin 's . Building and repushing the pages externally seems to be quite an overkill, especially when this has to be done for multiple repos (at least guidelines and website).

Still would be great to have a solution for this.

[2020-02-06 11:02] #58 closed

[2020-02-23 16:17] rettinghaus opened #146 "Relying on SMuFL-Browser"
We use Edirom's SMuFL-Browser for displaying some glyphs. But what to do, if something's not working like now (https://github.com/Edirom/SMuFL-Browser/issues/3)? Currently mordents aren't displayed: https://music-encoding.org/guidelines/v4/content/cmn.html#cmnOrnamentsMordents
@kepper @bwbohl could/should we use local copys?

[2020-02-27 11:52] kepper commented on #146
as @peterstadler points out, this was a broken dependency, which he was able to fix – thanks for that :+1
I think our first priority should be to fix such issues where they occur, because fallbacks like local copies will need to be reverted manually afterwards – I think there's a risk of cluttering our repo when going there too easily… But nevertheless: Good catch, @rettinghaus :-)

[2020-02-27 11:52] #146 closed

[2020-02-27 14:33] musicEnfanthen opened #148 "Chapter 04: related open issues"
As discussed on ODD Thursday meeting (02/2020), this issue collects all open issues related to chapter 04 of the guidelines. Feel free to add some more or remove if you think it should be addressed later or is not feasible for the revision process.

Connected issues with Chapter 04
- [x] #141
- [x] #138
- [x] #126
- [x] #123
- [x] #108
- [x] #99
- [ ] #95
- [x] #83
…

[2020-02-27 17:50] musicEnfanthen commented on #92
@kepper @pe-ro Is it correct that there is no `xlink:title` attribute in the specs? Do not find it in v4 nor in v3. Is this a "relict" from v2?

[2020-02-27 18:59] kepper commented on #92
Yes, `@xlink:title` was documented in v2… The stuff from LinkAlign was partially moved (`<when>` is now in MEI.performance), and partically omitted (`<timeline>` is gone, as it seemeed redundant). Hope this helps…

[2020-02-28 08:45] musicEnfanthen commented on #92
Thanks for the clarification. So I would remove the whole LinkAlign part of the current chapter and replace it with a placeholder for Linked Data approaches. @musicog and me will have another look on it next week.

[2020-02-28 08:47] kepper commented on #92
Yes. And I must not forget to cover `<when>` in chapter 12 (#91)…

[2020-02-28 08:58] musicEnfanthen commented on #92
Ok, good.

Another question: The attributes from `att.linking` are now also available in `<ptr`> and `<ref>`. We will definitely mention them in chapter 13, but are not sure about giving an detailed explanation here.

One reason: There is already a description and elaboration in chapter 10 (analysis): [General Relationships between Elements](https://music-encoding.org/guidelines/v4/content/analysi

[2020-02-28 09:02] bwbohl opened #149 "double mention of .log (logical) domain attributes"
double mention of .log (logical) domain attributes

_Originally posted by @bwbohl in https://github.com/music-encoding/guidelines/pull/109/review_comment/create_

[2020-02-28 09:18] kepper commented on #92
Yes and no. At first sight, this sounds reasonable. But then again, analysis in MEI historically means more than musical analysis in the sense of Riemann, Schenker etc. If someone states that one element is a `@copyof` another element, that's some kind of analysis. It becomes even clearer when looking at `@corresp`, which doesn't have the side effect of (potentially) saving markup. That said, I th

[2020-02-28 09:27] #149 closed

[2020-02-28 11:25] musicEnfanthen opened #150 "Chapter 03 (Metadata): Add examples for Metadata and Data association"
Dear Metadata SIG (@margrethesb , @KristinaRichts , @axgeertinger et al.),

would it be possible (and feasible) to add some small examples to the section `3.1.1.7.1. Associating Metadata and Data` in the Metadata chapter (#82) for the use of `@data` and `@decls` to see the mechanism working?

Background: As far as I understand, `decls` is also a pointing/linking technique, that is available on `<p

[2020-03-04 08:18] bwbohl commented on #29
@rettinghaus could you please check if the current version better suits your ideas? This ticket could probably be closed

[2020-03-04 08:25] bwbohl commented on #66
yes indeed and the rendition is different depending on the browser you use. We should either hide or show ALL borders.

[2020-03-05 14:44] rettinghaus commented on #29
@bwbohl I'm happy that `@sign` and `@dots` will be moved to the visual domain eventually. But still my question: does this mean, that a `<mensur>` without these attribute will still show up in a rendered score (based on the other attributes), or would this be an un-notated change in mensuration? @martha-thomae @giulianodibacco

[2020-03-11 05:15] bwbohl opened #153 "Add include tag for module descriptions"
it would be nice to have include tags for module descriptions, in the same way there are for element or attribute descriptions, e.g.:

[code]

[2020-03-11 05:20] bwbohl commented on #80
I guess this can be closed?

[2020-03-11 07:38] bwbohl commented on #80
Spotted something that maybe should be a bit more elaborate ;-)
I could imagine to describe this differentiation in chapter 2, though ( #81 )

[2020-03-11 08:12] bwbohl opened #154 "Styling of figure captions"
It would be nice to have a styling of figure captions that distinguishes them from the normal textflow

[2020-03-11 08:13] bwbohl opened #155 "Captions for code examples"
It would be nice to have captions for code examples in the same way that it is possible for images

[2020-03-11 08:16] bwbohl commented on #74
connected to #82

[2020-03-11 08:26] bwbohl commented on #118
As mentioned in music-encoding/music-encoding#222 and obvious from the guidelines repo being separated from the schema development it is questionable whether to include code examples in the schema definition, nevertheless the guidelines and/or specs should provide examples and potentially even more than in the text-flow.
Maybe the best way would be to run a query of all examples in the guidelines

[2020-03-11 09:56] rettinghaus commented on #154
Yes! How about *small* and *italic*?

[2020-03-11 10:03] bwbohl commented on #154
any chance of automatically numbering the figures (images and code examples)?
and providing the link to the example-file?

[2020-03-11 10:10] bwbohl commented on #29
@martha-thomae @giulianodibacco could any of you give us a heads up on this?

[2020-03-11 14:41] martha-thomae commented on #29
Hi @rettinghaus and @bwbohl,

So I am still waiting for the answer on the mailing list to make the pull request where I have changed these attributes to the visual domain. Not many answers so far, but @giulianodibacco wanted to have some input in the mailing list before this proposal is evaluated by the technical committee. I think I will put some kind of deadline to answer this; otherwise, we are

[2020-03-11 14:42] giulianodibacco commented on #29
@bwbohl your observation is an excellent one. The original intention was simply to allow recording the presence of a specific sign with `@sign`, `@dots` etc. and keep it flexible. As a consequence, you are right, `<mensur>` without these attributes would mean that the mensuration is not explicitly noted in the score but is conjectural. The rendering of this makes me feel torn. On the one hand, we

[2020-03-11 14:47] giulianodibacco commented on #29
I agree with @martha-thomae that we should not wait forever that opinions are posted to the list. I just wanted to avoid that such a big change would be discussed in the GitHub repo only. (I often advocated the need to make clear the distinction between the decision-making process and the technical process that translate the decision into the ODD). I think that the lack of response or interest mea

[2020-03-11 14:51] martha-thomae commented on #29
Perfect! Thanks for the confirmation, @giulianodibacco. I will make the PR moving those two attributes to the visual domain and with the additional `@divisio` and values of `@sign` for encoding Italian mensuration signs. Thanks again!

Do you have any thoughts on the other points of my comment? About `<mensur>` and `<staffDef>`? I would like to hear them :)

[2020-03-11 14:57] giulianodibacco commented on #29
Good point @martha-thomae that we should consider all voice parts. From your examples I am even more convinced that most of the problem could be solved if we could encode the editorial addition of a sign. I am not convinced that going back to encoding the 'general mensuration' of the piece in `<staffDef>` solves the problem of having to decide that a certain mensuration is associated to a certain

[2020-03-11 15:21] giulianodibacco commented on #29
I am eager to hear from Klaus @rettinghaus since I was always convinced that to notate `<mensur>` in the stream only solves a lot of problems and ambiguities. My understanding is that we are discovering that we need some adjustments to make it work; it looks to me that we just need to make sure that the score can reflect (when needed) the analytical process that made the encoder/editor decide what

[2020-03-12 09:18] bwbohl commented on #29
Thanks for your answers, as to the credits, should all go to @rettinghaus I'm just the issue pusher here ;-)

[2020-03-12 10:04] giulianodibacco commented on #29
@bwbohl you are right, I mis-read the thread. Rephrase: @rettinghaus your observation is an excellent one... etc.

[2020-03-12 16:59] rettinghaus commented on #29
@martha-thomae

It does, because I implemented it this way. :-) This is where the question originally came from. The main question is: do we want to allow the possibility to encode contradicting information in a single element, or should the encoder *always* have to use editorial elements like `<app>` ? As we allow it on other elements (and it is not controllable by schematron rules) I would guess

[2020-03-12 19:24] giulianodibacco commented on #29
What about the following: `<mensur>` records mensuration in the stream of notes (at the beginning of a piece or whatever it changes) regardless of the presence of a sign (Verovio: no sign is displayed). When a sign is notated, it is explicitly recorded using the available attributes (Verovio: displays it accordingly). When the encoder is interested in displaying a conjectural sign, within square b

[2020-03-13 11:09] rettinghaus commented on #29
@giulianodibacco Sounds fine to me.

[2020-03-13 13:07] martha-thomae commented on #29
Sounds good to me too.

[2020-03-26 15:22] kepper commented on #92
I think this chapter is good enough to be included, or at least most of it. For now, I would just kick out 13.3 and 13.4, and merge the rest. What do you think, @musicEnfanthen?

[2020-03-26 15:27] musicog commented on #92
I'm currently working on content for 13.3 / 13.4  -- but I appreciate this is rather late! (sorry!)
I agree that the rest of the chapter could stand alone for now. Could we merge in 13.3 / 13.4 at a later (soon) point?

[2020-03-26 15:29] kepper commented on #92
of course – and it's great to hear you're already working on this :-) So, let's include what we have already, and take care of the rest asap… 

[2020-04-01 16:22] rettinghaus commented on #141
Usually `@endid` point to the last constituent of the affected ones, so the trill should include the second note in the example. Trills to bar lines should (in this particular case) use `@tstamp2="5"`.

[2020-04-21 20:37] bwbohl commented on #99
new features please to the music-encoding repo, not the guidelines

[2020-04-21 20:40] bwbohl commented on #136
probably we should add some schematron rules pointing to the relation if both exist in an encoding or even contradict each other

[2020-04-26 17:50] davidrizo opened #163 "multirest.md block description"
Currently the block description of [multi-measure rests](https://github.com/music-encoding/guidelines/blob/master/v4/elements/multirest.md#) refers to a page of an unknown source: "(Read, p.104)":

[2020-04-26 18:06] craigsapp commented on #163
This is the citation:

Garner Read. Music Notation: A Handbook of Modern Practice. Taplinger Pulblishing Company:; 1979.

https://www.amazon.com/Music-Notation-Crescendo-Book-Gardner/dp/0800854535

[2020-04-26 18:15] rettinghaus commented on #163
This is not in the guidelines but the schema.
Fixed here: https://github.com/music-encoding/music-encoding/pull/626

[2020-04-26 20:18] bwbohl commented on #163
The Name is »Gardner Read«

[2020-04-26 20:22] bwbohl commented on #163
Maybe the Guidelines should retain the reference to Gardner Read? Or alternatively provide a rendered example of the alternatives

[2020-04-26 20:57] rettinghaus commented on #163
Sorry, but the guidelines show the difference.

[2020-04-26 20:58] rettinghaus commented on #163
@bwbohl and still the wrong repo.

[2020-04-27 07:13] rettinghaus commented on #163
NB: Some weeks ago I started this discussion: https://github.com/music-encoding/music-encoding/issues/653

[2020-04-29 21:17] kepper commented on #82
There is great overlap between chapters 3, 8 and 9. What follows is a proposal on how to structure chapter 3 (Metadata) which seeks to deduplicate information between all three of them, and tries to propose a comprehensible order.

- Intro
- Structure (was: _3.2_)
  - Explanation of levels (mostly where to put titles)
- Common Concepts (was: _3.8_)
  - Intro with reference to chapter 8 (Text Encod

[2020-04-29 21:17] kepper commented on #87
There is great overlap between chapters 3, 8 and 9. What follows is a proposal on how to structure chapter 8 (Lyrics) which seeks to deduplicate information between all three of them, and tries to propose a comprehensible order. Most notably, this tries to move performed text to 8, and everything else to 9. See also https://github.com/music-encoding/guidelines/issues/82#issuecomment-621469130

- I

[2020-04-29 21:18] kepper commented on #88
There is great overlap between chapters 3, 8 and 9. What follows is a proposal on how to structure chapter 9 (Text) which seeks to deduplicate information between all three of them, and tries to propose a comprehensible order. Most notably, this tries to move performed text to 8, and everything else to 9. See also https://github.com/music-encoding/guidelines/issues/82#issuecomment-621469130 and ht

[2020-05-03 19:06] rettinghaus commented on #87
@kepper I'll add a bit about fingering in CMN.

[2020-05-04 07:56] th-we commented on #87
Fingering is an interesting topic that might be sensible to discuss more in depth.  I just looked through guitar notation, which has multiple categories of fingerings:

* left hand
* right hand
* fret/position number
* string number
* barré indication

And for each category (except for left hand fingerings, as far as I'm aware), there is a multitude of historic and contemporary possible visual rep

[2020-05-04 08:32] rettinghaus opened #164 "Guidelines miss styling in Safari"
Lately the Guidelines miss all the CSS stuff in Safari. Please confirm.

[2020-05-04 09:34] kepper commented on #164
Nope, all looking good for me, even with an emptied cache. Could you double-check on your end?

[2020-05-04 10:08] rettinghaus commented on #164
Mysterious! Now it's working again for me …

[2020-05-04 10:08] #164 closed

[2020-05-04 11:18] kepper commented on #164
it just heard it's master's voice ;-) If all issues were to be resolved that easily…

[2020-05-04 15:27] rettinghaus commented on #87
@th-we I wonder, if [`att.stringtab`](https://music-encoding.org/guidelines/v4/attribute-classes/att.stringtab.html) is visual and to be used in non-tablatur notation. Would you open a new issue on `fingering` for the schema?

[2020-05-22 14:21] musicEnfanthen commented on #92
@kepper @musicog
I think we should/could have the first two sections merged right away. Shall we remove or leave the placeholder in sections 13.3. & 13.4. for now?

[2020-05-22 14:30] musicog commented on #92
The "(soon)" in my previous comment is doing some heavy lifting there, sorry :-(
Personally I'd remove the placeholder stubs until the content is ready (to give a more coherent read of what's there), but it's up to @kepper of course

[2020-05-22 14:46] musicEnfanthen commented on #92
Ok, good. Will remove the whole section 13.3 for now.

[2020-05-22 15:14] kepper commented on #92
👍

[2020-05-23 14:12] #91 closed

[2020-05-23 18:11] #90 closed

[2020-05-24 20:07] #85 closed

[2020-05-24 20:55] kepper commented on #80
this can be closed

[2020-05-24 20:55] #80 closed

[2020-05-24 21:02] kepper commented on #86
There is something coming up from @DILewis and @reinierdevalk in connection with #MEC2020, but as this includes new markup proposals, it's probably better handled in the dev version. Leaving it as is for now…

[2020-05-24 21:03] kepper commented on #92
this has been fixed by #168

[2020-05-24 21:03] #92 closed

[2020-05-25 09:02] #89 closed

[2020-05-25 09:33] #82 closed

[2020-05-25 09:33] #87 closed

[2020-05-25 09:33] #88 closed

[2020-05-25 15:26] #148 closed

[2020-05-25 15:27] #108 closed

[2020-05-27 08:16] th-we commented on #146
@peterstadler The service is down again at the moment.

[2020-05-27 08:56] peterstadler commented on #146
@th-we we had some temporary server issues, now it's back up.

[2020-05-29 22:03] pe-ro opened #172 "Misleading content model info"
The "May Contain" info for elements whose content model is defined as
[code]
erroneously displays "may not have child elements".  In fact, macro.stuc-unstrucContent allows either 1) a strict model `(head*, p*)` or 2) a mixed-content model made up of members of model.textPhraseLike.limited and text.

[2020-06-05 19:49] martha-thomae opened #175 "Chapter 05 (dev): MEI examples to be rendered in Verovio are not shown"
For some reason, in the [development version of the guidelines](https://music-encoding.org/guidelines/dev/content/mensural.html), the MEI examples that I included in the "mei/dev/" folder are not showing. Just the first example is shown, the "notes_rests.mei", but all following are not displayed (neither the MEI encoding nor the Verovio rendition of it). In my local machine, all examples do render

[2020-06-05 20:09] martha-thomae commented on #175
Also, the font for the examples is different, the one shown on my local machine makes the MEI encoding easier to read (see the text in bold and the different colors).

[2020-06-05 20:18] kepper commented on #175
Without havind had a closer look at the problem itself: The CSS for the Guidelines is provided in the https://github.com/music-encoding/music-encoding.github.io repo, which admittedly is a nightmare to debug and should be changed asap. This probably doesn't explain why examples don't show up, but it could explain why things look different, assuming that you have a local copy of that other repo run

[2020-06-05 20:31] lpugin commented on #175
(@kepper I feel every day worse and worse about the guidelines setup which was my proposal. Please get rid of it as soon as you can.)

I'll have a look at the Verovio stuff. We can go back to static images if this is preferred.

[2020-06-05 20:37] martha-thomae commented on #175
@kepper, that could be the case for the fonts since I do have the website's GitHub also cloned (well, a fork of it, but same thing).

@lpugin, I love the Verovio stuff! I certainly do prefer this over static images because it is good to see that the encodings can actually be rendered somewhere (here, Verovio). It would also be good to have the same thing as the tutorials (or in the Verovio website

[2020-06-05 20:38] kepper commented on #175
@lpugin, no worries. You had good arguments, which apparently convinced us all at some point ;-)  But after a couple of years of operating this setup, we have a better picture now, and see that the benefits come at a cost we didn't foresee back then. We'll change that situation now, but it's already clear that every setup will have it's own issues…

[2020-06-05 20:56] lpugin commented on #175
It should be fixed. The problem came from the capital letters in the file names. GitHub servers make the distinction be upper and lower case. Another reason to move away from the current setup ;-) Until then we need to use always lower case filenames.

[2020-06-05 20:56] #175 closed

[2020-06-05 21:28] martha-thomae commented on #175
Thank you, Laurent!

[2020-06-08 22:45] martha-thomae opened #176 "Update Verovio version"
Switch to develop version for MEI examples to be rendered correctly (including: [implicit mensuration example](https://github.com/music-encoding/guidelines/blob/master/mei/dev/implicit-mensuration.mei)).

This was pointed out on https://github.com/rism-ch/verovio/issues/1489#issuecomment-640763107

[2020-06-08 23:46] bwbohl commented on #175
could you please documet somewhere which files have to stick to lowercase naming scheme?

[2020-06-08 23:47] bwbohl commented on #176
@lpugin could you handle this?

[2020-06-08 23:48] bwbohl commented on #172
@pe-ro could you just add one link to an example?

[2020-06-09 05:44] lpugin commented on #176
378f6e3d018c92175d05614d954e88920b8757dc

[2020-06-09 05:44] #176 closed

[2020-06-09 10:09] martha-thomae commented on #176
Thank you!

[2020-06-09 14:30] rettinghaus commented on #172
e.g. https://music-encoding.org/guidelines/v4/elements/layout.html#mayContain

[2020-06-09 20:48] martha-thomae opened #177 "Verovio is not rendering the last note of an MEI example file"
Last note in staff 1 (and the corresponding last three "breves" in staff 2) are not being rendered by Verovio for the Ars antiqua example shown in [this file](https://github.com/music-encoding/guidelines/blob/master/mei/dev/ars_antiqua.mei). This is the last example of **Section 5.1.1** of the guidelines (for **Chapter 05 - Mensural Notation**).

[2020-06-10 07:27] lpugin commented on #29
Sorry, I must have overlooked something, but am I correct that /mensur was completely removed from staffDef? That it, both attributes and elements? I am doubtful about this. I think /mensur indications work pretty much like clefs. It can be specified in the staffDef and then be changed in the stream of data with /mensur (respectively /clef).

[2020-06-15 12:12] lpugin commented on #29
I remember the discussion in Maryland. Maybe a compromise could be to drop mensur /staffDef and /scoreDef attributes, but still allow mensur as child. This could be useful for hybrid encodings that still use mensur but treats them similarly as meterSig. Here is one example
https://wiki.ccarh.org/wiki/MuseData_Example:_mensural_signs
Notice the sign repeated at the end of the staves. I would expect

[2020-06-15 17:15] martha-thomae commented on #29
I also agree to go back to encoding the mensuration within the `<staffDef>` and `<scoreDef>` elements. I agree that this is more MEI-like and it is consistent with the encoding of meter in CMN. I do agree with the idea of encoding clefs and meter in `<staffDef>` because it is kind of the "voice's metadata," and that is also true for mensuration. Therefore, I would also like to revert these changes

[2020-06-16 16:19] kepper commented on #29
I'm certainly no expert on this, but doesn't this relate to the handling of clefs (and other things) for CMN, as suggested by @lpugin in https://github.com/music-encoding/guidelines/issues/29#issuecomment-642075200? A clef can either be encoded as attributes within `<staffDef>` (which is more metadata-like), or as element inside `<layer>` (which is more event-like, or maybe even visual). It's perf

[2020-06-16 16:35] martha-thomae commented on #29
Thanks, @kepper. I will revert the changes (we can always discuss it later).

I will make a PR for this (I don't like reverting in the main repo).

[2020-06-30 22:53] bwbohl commented on #29
what's the correspondingg PR? #180?

[2020-07-06 18:50] davidrizo opened #182 "Dynamics @place and @staff possible values"
The explanation of the `@place` attribute in the `dynam` element is not including the value `between` that is used in the last example of the [section](https://music-encoding.org/guidelines/dev/content/cmn.html#cmnDynam):

[code]

[2020-07-09 02:39] martha-thomae commented on #29
Hi @bwbohl. Sorry, I took about a week off.

The corresponding PR is https://github.com/music-encoding/music-encoding/pull/676. And I will make the appropriate changes in the guidelines (the development version, because these changes were in development) in a few days. Will let you know when it is there.

This is correcting the current version of the guidelines (4.0.1) because it had some missing/

[2020-08-03 22:20] craigsapp opened #186 "verovio example chopped off"
On the page https://music-encoding.org/guidelines/v4/content/cmn.html

The verovio example in section 4.3.5.5. (Octave Shift) is chopped off at the top of the music:

<img width="924" alt="Screen Shot 2020-08-03 at 3 11 47 PM" src="https://user-images.githubusercontent.com/3487289/89232482-612a5480-d59c-11ea-86a8-f354d576842e.png">

In addition, the XML code underneath the example is not colorized

[2020-08-11 17:36] rettinghaus commented on #186
The colorisation is different, because this one doesn’t come from an extra file (like all the others), but from the file, that is rendered by Verovio. It uses a different JavaScript/CSS.

[2020-08-11 18:42] craigsapp commented on #186
OK: if content is generated dynamically, then the static website generator (Jekyll) cannot process the text to colorize it.

[2020-08-27 12:28] bwbohl commented on #182
thanks for spotting this

[2020-11-02 16:21] rettinghaus opened #189 "Refer to TEI Guidelines"
When MEI elements come directly from TEI (or are modelled after TEI) it would be good to refer to the corresponding site from the TEI Guidelines, or at least recommend to check the description and examples over there.

[2020-11-02 16:45] kepper commented on #189
I had the very same idea looking at the guidelines today, yes. I'm afraid this needs to be done manually (at least to some degree), but it would surely be a helpful improvement. There are also references to other encoding schemes which should be treated likewise…

[2020-12-07 23:11] bwbohl opened #193 "version folders"
Comparing this repo to https://github.com/music-encoding/schema shoudn't the names of the containing version-folder match? Here we have v3, v4, dev while at the schema repo we have more verbose versioning, e.g. 3.0.0, 4.0.0, 4.0.1.

Of course this brings up the question, whether pre-patch-revisions should be kept at all, e.g. schema version 4.0.0 vs 4.0.1!? If so probably the guidelines should als

[2020-12-07 23:16] bwbohl opened #194 "guidelines dev is missing index.html"
see also https://github.com/music-encoding/music-encoding.github.io/issues/195

[code]

should do the job

[2020-12-08 06:50] lpugin commented on #193
As far as I remember it was a decision not to have distinct versions of the guidelines for even patch and minor revisions (hence v3, v4). This is OK for me. If somebody wants to see the guidelines for 4.0.0 they can always checkout the repo and rebuild them.

[2020-12-08 06:53] lpugin commented on #194
Should be:
[code]

[2020-12-08 08:26] bwbohl commented on #193
and for the latest develop-branch version it would be dev, right? what about the version number for dev in the `@meiversion`? (see also https://github.com/music-encoding/music-encoding/pull/740)

[2020-12-08 08:29] bwbohl commented on #194
file should be generated by the CI Action, right?

[2020-12-08 08:56] kepper commented on #193
If I remember correctly, this decision was based on the fact that having multiple versions side by side was rather complex in the old setup. However, I'm with @lpugin that this should be sufficient – as by definition there are no breaking changes (besides bug fixes), and so things should be mostly compatible. However, I would suggest that from here on out we'll preserve the PDF versions of every r

[2020-12-08 09:27] lpugin commented on #194
No, by the XSLT in my opinion.

You can. But I think it should be possible to fix this and merge the PR.

[2020-12-08 09:48] bwbohl commented on #194
@kepper do you prefer to put this in a index.html file in the source that will be copied to the destination by the XSLT or add is as template that will be called in a separate <xsl:result-ducument> instruction?

[2020-12-08 10:44] #194 closed

[2020-12-08 16:45] #105 closed

[2020-12-08 16:48] lpugin opened #195 "Wrong menu for the devlopment version"
It seems that the development version of the guidelines pulls the v4 menu instead of the dev one. As a result, the notification is not showing up.

[2020-12-08 16:52] kepper commented on #195
probably because the version number in the specs still reads 4.0.1, but I'll have a look – I've spotted a number of other inconsitencies anyway…

[2020-12-08 18:37] craigsapp commented on #105
https://www.youtube.com/watch?v=bC6tngl0PTI

[2020-12-09 08:38] bwbohl commented on #195
how is the menu being pulled? I issued a PR (https://github.com/music-encoding/music-encoding/pull/747) changing the dev version to 4.0.1-dev maybe that fixes it? Or we could pass the branch name of the build, i.e. dev at the moment.

[2020-12-09 08:45] kepper commented on #195
Hi @bwbohl, thanks for the PR. I'm afraid there is some logic involved that needs to be adjusted in the XSLT. I'll happily do that today, but no time before the afternoon…

[2020-12-09 10:45] musicEnfanthen commented on #105
Great find, thanks 👍

[2020-12-09 13:55] musicEnfanthen opened #196 "Links to TEI guidelines still broken"
Related to music-encoding/music-encoding#743

In the [latest dev version](https://github.com/music-encoding/music-encoding/commit/29ce50c4c4eb0633cb85e1bf7349c12b4d7b4a66), the links to the TEI guidelines in [Chapter 14.4 SVG](https://music-encoding.org/guidelines/dev/content/integration.html#svg) are still broken because they are resolved to:

`https://tei-c.org/release/doc/tei-p5-doc/en/html/ref

[2020-12-10 00:23] #195 closed

[2020-12-10 14:09] #193 closed

[2020-12-11 09:26] bwbohl commented on #196
@kepper could you have a look?

[2020-12-11 09:27] kepper commented on #196
will do

[2020-12-11 09:44] #196 closed

[2020-12-11 09:46] kepper commented on #196
As I used the same class name for external TEI links, and the treatment for links for the website was based on those css classes, I've adjusted the link as I have to for our internal links. Thanks for spotting this 👍

[2020-12-11 10:33] musicEnfanthen commented on #196
Great. Would it work then with `doc-available` again?

[2020-12-11 10:40] kepper commented on #196
Probably not – that check is done at an earlier stage, before the duplicate `.html` got introduced, so that the fix above doesn't affect it…

[2020-12-11 10:44] musicEnfanthen commented on #196
Ah, ok. Thanks for fixing it 👍

[2021-03-22 08:21] kepper opened #197 "tabs in dev not working on firefox"
When using the tabs to switch between different styles of display for say attributes, Firefox gives an error message:
<img width="599" alt="grafik" src="https://user-images.githubusercontent.com/2078563/111960105-9bc30c00-8aef-11eb-9f1b-85752f41a789.png">
Chrome and Safari are fine.

[2021-03-25 11:13] rettinghaus commented on #29
@martha-thomae @bwbohl May this be closed now?

[2021-03-25 11:34] rettinghaus commented on #47
Over two years later I thought it would be a good time to test again. Same as before with on severe new one:
* Duplicate ID `tipue_search_input`.

See: https://validator.w3.org/nu/?doc=https%3A%2F%2Fmusic-encoding.org%2Fguidelines%2Fv4%2Felements%2Fbarline.html

[2021-03-25 11:36] rettinghaus commented on #38
@kepper @bwbohl I think this can be closed. Please reopen if necessary.

[2021-03-25 11:36] #38 closed

[2021-03-26 14:09] #197 closed

[2021-03-31 23:47] martha-thomae commented on #29
Hi @rettinghaus!

So, regarding the original issue:

I think this can be closed. The answer to your question is the latter option: the attributes `@modusmaior`, `@modusminor`, `@tempus` and `@prolatio` are meant to _just_ carry the semantics and one always has to include the visual-domain attributes (`@sign`, `@orient`, `@slash`, and `@dot`) to render a mensuration sign.

This has been clarified i

[2021-04-01 13:05] #29 closed

[2021-05-28 07:16] kepper commented on #189
Doing an XPath search for `//elementSpec[.//remarks//text()[contains(.,' TEI') or contains(.,' EAD') or contains(.,' modelled')]]/@ident` reveals **176** elements that probably need to get a reference to another standard.
**118** of those use the standard phrase `//elementSpec[.//remarks//text()[contains(.,'This element is modelled on an element in the Text Encoding Initiative (TEI) standard.')]]/

[2021-05-28 07:53] rettinghaus commented on #189
@kepper I was looking into that and was wondering if we need a link to the description of the element itself or if it would be enough to link to the TEI Guidelines.
If I'm not mistaken they always share the name with the respective TEI element, so an automatic link could be `https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-*ELEMENTNAME*.html`.

[2021-05-28 07:57] kepper commented on #189
yes, that's what I thought. We can use doc-available to check whether the name is actually the same  and the link can be inserted automatically, or if we need to add this manually. Shouldn't be too hard to do, I'm just not sure I'll find the time before the afternoon meeting ;-)

[2021-05-28 22:42] #172 closed

[2021-06-24 12:52] bwbohl commented on #189
2021-06-24 ODD Thursday:

Considering this is not done yet, I just want to point to other standards that could/should be treated equally then. Especially with the TEI (and maybe all the standards) which version of the standard did MEI refer to when the element was introduced, as definitions of the elements might have changed (e.g. tei:lb was line break and could mark line endings or beginnings, to

[2021-10-20 01:31] craigsapp opened #200 "Javascript error when displaying full description of attributes"
On documentation webpages such as:

https://music-encoding.org/guidelines/v4/elements/artic.html#attributes

There is a javascript error occurring when the page is loaded:

<img width="550" alt="Screen Shot 2021-10-19 at 6 24 30 PM" src="https://user-images.githubusercontent.com/3487289/138012828-58c09589-23ba-4813-b0c7-9ca4e936494b.png">

Function where the problem occurs:

<img width="720" alt="

[2021-10-20 13:05] #200 closed

[2021-12-07 13:41] annakijas1 opened #201 "Typo in v.4 Guidelines Ch. 3"
This heading in [section 3.3.2](https://music-encoding.org/guidelines/v4/content/metadata.html#headerrespstatement) has a typo. It reads: "Responsility Attribution"
It should read "Responsibility Attribution"

[2021-12-07 14:13] rettinghaus commented on #201
Thanks for reporting.
fixed with 5139d7d78e0f3183f0f799bd5ffc6dc9e140338a

[2021-12-07 14:13] #201 closed

[2022-01-23 11:40] #83 closed

[2022-01-23 19:30] musicEnfanthen commented on #83
@rettinghaus Could you please add a short explanation why the issue was closed (deprecated, resolved, superseded?)? This makes it much easier to trace and evaluate the status of the issue, also from a future perspective, than simply closing it after almost a year in which the issue had no activity. Thank you!

[2022-01-23 19:33] rettinghaus commented on #83
Should have been closed with #107, which was obviously forgotten.

[2022-01-25 11:53] musicEnfanthen commented on #83
Great, many thanks!

[2022-01-28 13:56] #163 closed

[2022-01-28 13:57] rettinghaus commented on #163
Was fixed in 2020 and a follow-up ticket was created.

[2022-03-21 19:21] bwbohl opened #204 "deprecate wiki"
the information in the wiki of this repo is deprecated so it should be removed

[2022-03-25 21:06] musicEnfanthen commented on #204
Done.

[2022-03-25 21:06] #204 closed

[2022-03-25 21:15] musicEnfanthen commented on #153
@bwbohl obsolete? That would be needed to be addressed in the ODD now, right?

[2022-03-25 21:20] musicEnfanthen commented on #186
The example does not seem to show up anymore at all. Can you confirm?

[2022-03-25 21:25] musicEnfanthen commented on #121
@kepper Is the proposed change still intended? Or deprecated by later changes/discussions?

[2022-03-28 07:04] lpugin commented on #186
Yes, examples are no longer rendered. We never reached a decision on what to do with them when the guidelines were moved from Jekyll back to ODD.

[2022-03-28 07:06] #186 closed

[2022-04-27 17:59] musicEnfanthen commented on #47
Is this still an issue @rettinghaus ?

[2022-04-28 07:29] rettinghaus commented on #47
My comment [above](https://github.com/music-encoding/guidelines/issues/47#issuecomment-444462438) has lost none of its relevance.

[2022-10-14 14:24] musicEnfanthen commented on #150
Ping @riedde and @doerners

[2022-10-14 14:29] musicEnfanthen commented on #138
@rettinghaus Is this now clearer since https://github.com/music-encoding/music-encoding/pull/1003 has been merged? Can the issue here be closed then?

[2022-10-14 14:42] musicEnfanthen commented on #121
@kepper @riedde @doerners I guess this can be closed as deprecated?

[2022-10-14 14:45] musicEnfanthen commented on #120
@rieede @doerners May I ask you to check if this is still an issue?

[2022-10-14 14:52] musicEnfanthen commented on #101
Closing since modules are now integrated into the guidelines dev version.

[2022-10-14 14:52] #101 closed

[2022-10-14 14:55] musicEnfanthen commented on #74
@riedde @doerners @bwbohl May I ask you to have a look if this is still an ongoing issue? (At least, all corresponding issues that I could find on music-encoding/music-encoding have been closed.)

[2022-10-14 15:03] riedde commented on #121
@musicEnfanthen not really. The current tasks improve the "Sources" Chapter but do not revise the structure of the Metadata Chapter (3) itself.

I like the idea of a more user-oriented structure. Should be discussed at the next meeting of the IG

[2022-10-14 15:06] doerners commented on #121
I'm with @riedde on this one and would propose to leave it open - at least for now

[2022-10-14 15:08] musicEnfanthen commented on #67
@ahankinson Could you give a short feedback if this is still needed? If so, could you please clarify a bit. I am having trouble to understand where the anchors should be added and where the links should go.

[2022-10-14 15:24] musicEnfanthen commented on #121
Ok, thanks for checking and clarification. Looking forward to the outcome of your IG discussions.

[2022-10-17 15:58] doerners commented on #74
I just had a quick look at the element definition of `<source>` and the guidelines as well. It seems that `<source>` is sufficiently documented. There are also several notes pointing out that in previous MEI versions `<source>` was used for manifestation-level descriptions - which schould aid to alienate the confusion. So to me it seems that this issue could be closed if @bwbohl and @riedde don't

[2022-10-18 04:40] riedde commented on #74
yes, @doerners is right. In the guidelines (3.2) it is clarified. But in 3.4.1.6 an additional sentence (as in 3.5.1 'Please note: Until MEI 3.0.0, the source element in sourceDesc was used for manifestation-level descriptions.') would be nice.
In 3.8.3 the example clarifies the distinction.

in the End 12.1.1 has to be improved, because this is really unclear or outdated (focussing on the source

[2022-10-18 04:58] riedde commented on #120
yes, the referred chapter 3.1.1.2 has become 3.4.1.2.

Its still an Issue, since the data model has changed (seems like).

The section should be renamed, e.g., "Extent of the File" and Listing 44, as @doerners and already @axgeertinger mentioned, must be reworked (erasing physDesc). I will provide a PR for this.

[2022-10-20 13:44] musicEnfanthen commented on #189
Closed by https://github.com/music-encoding/music-encoding/pull/1027

[2022-10-20 13:44] #189 closed

[2022-10-27 13:33] #120 closed

[2022-11-25 14:27] #66 closed